<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-dark bg-dark container navbar-expand-lg">
            <div class="container-fluid">

                <button type="button" class="navbar-toggler" data-bs-toggle="collapse"
                        data-bs-target="#navcol" aria-controls="navcol"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navcol">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                        @{
                            if (User.Identity.IsAuthenticated && !(User.IsInRole("Attendee")))
                            {
                                <li class="nav-item">@Html.ActionLink("Manage Event", "Index", "Events", null, new { @class = "nav-link  align-middle" })</li>
                                if (User.IsInRole("Admin"))
                                {
                                    <li class="nav-item">@Html.ActionLink("Manage Users", "Index", "Users", null, new { @class = "nav-link  align-middle" })</li>
                                }
                                <li class="nav-item">@Html.ActionLink("Event Summary", "Summary", "Events", null, new { @class = "nav-link  align-middle" })</li>
                                <li class="nav-item d-flex me-auto"></li>
                            }
                            else if (User.Identity.IsAuthenticated)
                            {

                                <li class="nav-item">@Html.ActionLink("Sign Up for Events", "Register", "Events", null, new { @class = "nav-link  align-middle" })</li>
                                <li class="nav-item">@Html.ActionLink("Manage your Events", "Registration", "Users", null, new { @class = "nav-link  align-middle" })</li>
                            }
                        }


                    </ul>
                </div>
                @Html.ActionLink("Main Page", "Index", "Home", new { area = "" }, new { @class = "navbar-brand align-middle" })
                <div class="collapse navbar-collapse" id="navcol">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">@Html.ActionLink("Events", "Index", "Events", new { @class = "nav-link  align-middle" })</li>
                        <li class="nav-item">@Html.ActionLink("About", "About", "Home", new { @class = "nav-link  align-middle" })</li>
                        <li class="nav-item">@Html.ActionLink("Contact", "Contact", "Home", new { @class = "nav-link  align-middle" })</li>
                        <li class="nav-item d-flex me-auto">
                            @{
                                if (User.Identity.IsAuthenticated)
                                {
                                    @Html.ActionLink("Log Out", "Logout", "Home", null, new { @class = "nav-link align-right" })

                                }
                                else
                                {
                                    @Html.ActionLink("Account", "Login", "Home",null, new { @class = "nav-link align-right" })
                                }
                            }
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </div>

    <div class="container body-content mb-8">
        @RenderBody()
        <div class="position-relative bottom-0 start-20 vw-100 ">
            <hr />
            <footer >
                <p>&copy; @DateTime.Now.Year - KOI - Group 4</p>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
